# Assignment 5 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [372]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [373]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [374]:
# word net installation:

# unmark if you want to use and need to install
# !pip install wn
# !python -m wn download omw-he:1.4

In [375]:
# word net import:

# unmark if you want to use:
# import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [376]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
!pip install hebrew_tokenizer

Requirement already satisfied: hebrew_tokenizer in c:\users\user\anaconda3\lib\site-packages (2.3.0)

In [377]:
# Hebrew tokenizer import:

# unmark if you want to use:
import hebrew_tokenizer as ht

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [378]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [379]:
df_train.head(8)
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

In [380]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

In [381]:
# YOUR CODE HERE
df_train['gender'].value_counts()

m    575
f    178
Name: gender, dtype: int64

In [382]:
df_train.head()
df_test.head()

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...
3                3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...
4                4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...

In [383]:
from sklearn.metrics import make_scorer

### The following function removes all punctuation, special characters, numbers and english letters from a text.

In [384]:
def cleanText(text):
    text = re.sub(r'[^\w\s]', '', text) ##remove punctuation and special chars in general
    text = re.sub(r'\d+', '', text) ##remove numbers
    text = re.sub(r'[a-zA-Z]+', '', text) ##remove english letters
    text = text.strip()##remove leading and trailing spaces
    return text

### The following function acts as a tokenizer for hebrew words which will be used later in the models pipelines.

In [385]:
def myHebrewTokenizer(text):
    tokenList=[]
    text=cleanText(text)
    tokens=ht.tokenize(text)
    tokenList=[tuple[1] for tuple in tokens]#only append actual word to token list not type of word
    return tokenList

### The following function calculates the f1 score of each pipeline, it uses 5 fold cross validation and then calculates the mean f1 score for each pipeline. As per our instructions, only a mean f1 score of 0.6 or higher is sufficient, thus printing which model achieved such score.

In [386]:
def calcScore(pipeline, modelName):
    scores = cross_val_score(pipeline, X_train, y_train,scoring=make_scorer(f1_score,average='macro'), cv=5)
    print("--------------------------------------------------------------------------------------------------------------------")
    print('Cross-validation scores for '+modelName +':', scores)
    print('Mean score for '+modelName +':', scores.mean())
    if(scores.mean()>=0.6):
        print(modelName+" HAS ACHIEVED A SUFFICIENT F1 SCORE")
    print("--------------------------------------------------------------------------------------------------------------------")

In [387]:
X_train=df_train['story']
y_train=df_train['gender']

# The following cells are several pipelines, as taught in class, testing various prediction models.
### All of the pipelines use the TF-IDF vectorizer with the tokenizer built in the 'myHebrewTokenizer' function shown above, as well as setting the max_features ordered by term frequency across the corpus to 10000, ngram_range to be (1,2) to catch bigrams aswell as min_df to 2 for the minimum number of  ratio of documents, for which the word should appear in to be atleast 2.

### Multinomial Naive Bayes model pipeline:

In [388]:
text_clf_nb = Pipeline([
    ('vect', TfidfVectorizer(tokenizer=myHebrewTokenizer,max_features=10000, ngram_range=(1,2), min_df=2)),
    ('norm', preprocessing.Normalizer(norm='l2')),
    ('clf', MultinomialNB()),
])
text_clf_nb.fit(X_train,y_train)

Pipeline(steps=[('vect',
                 TfidfVectorizer(max_features=10000, min_df=2,
                                 ngram_range=(1, 2),
                                 tokenizer=<function myHebrewTokenizer at 0x0000015703C963A0>)),
                ('norm', Normalizer()), ('clf', MultinomialNB())])

### Stochastic gradient descent model pipeline:

In [389]:
text_clf_SGD = Pipeline([
    ('vect', TfidfVectorizer(tokenizer=myHebrewTokenizer, max_features=10000, ngram_range=(1, 2), min_df=2)),
    ('norm', preprocessing.Normalizer(norm='l2')),
    ('clf', SGDClassifier(loss='hinge', penalty='l2', alpha=1e-5, random_state=42, max_iter=5, tol=None)),
])
text_clf_SGD.fit(X_train,y_train)

Pipeline(steps=[('vect',
                 TfidfVectorizer(max_features=10000, min_df=2,
                                 ngram_range=(1, 2),
                                 tokenizer=<function myHebrewTokenizer at 0x0000015703C963A0>)),
                ('norm', Normalizer()),
                ('clf',
                 SGDClassifier(alpha=1e-05, max_iter=5, random_state=42,
                               tol=None))])

### K nearest neighbours model pipeline:

In [390]:
text_clf_knn = Pipeline([
    ('vect', TfidfVectorizer(tokenizer=myHebrewTokenizer, max_features=10000, ngram_range=(1, 2), min_df=2)),
    ('norm', preprocessing.Normalizer(norm='l2')),
    ('clf', KNeighborsClassifier()),
])

text_clf_knn.fit(X_train, y_train)

Pipeline(steps=[('vect',
                 TfidfVectorizer(max_features=10000, min_df=2,
                                 ngram_range=(1, 2),
                                 tokenizer=<function myHebrewTokenizer at 0x0000015703C963A0>)),
                ('norm', Normalizer()), ('clf', KNeighborsClassifier())])

### Linear Support Vector Machine model pipeline:

In [391]:
text_clf_lsvc = Pipeline([
    ('vect', TfidfVectorizer(tokenizer=myHebrewTokenizer, max_features=10000, ngram_range=(1, 2), min_df=2)),
    ('norm', preprocessing.Normalizer(norm='l2')),
    ('clf', LinearSVC()),
])

text_clf_lsvc.fit(X_train, y_train)

Pipeline(steps=[('vect',
                 TfidfVectorizer(max_features=10000, min_df=2,
                                 ngram_range=(1, 2),
                                 tokenizer=<function myHebrewTokenizer at 0x0000015703C963A0>)),
                ('norm', Normalizer()), ('clf', LinearSVC())])

### Decision tree model pipeline:

In [392]:
text_clf_dtc = Pipeline([
    ('vect', TfidfVectorizer(tokenizer=myHebrewTokenizer, max_features=10000, ngram_range=(1, 2), min_df=2)),
    ('norm', preprocessing.Normalizer(norm='l2')),
    ('clf', DecisionTreeClassifier()),
])

text_clf_dtc.fit(X_train, y_train)

Pipeline(steps=[('vect',
                 TfidfVectorizer(max_features=10000, min_df=2,
                                 ngram_range=(1, 2),
                                 tokenizer=<function myHebrewTokenizer at 0x0000015703C963A0>)),
                ('norm', Normalizer()), ('clf', DecisionTreeClassifier())])

### Perceptron model pipeline:

In [393]:
text_clf_percep = Pipeline([
    ('vect', TfidfVectorizer(tokenizer=myHebrewTokenizer,max_features=10000, ngram_range=(1, 2), min_df=2)),
    ('norm', preprocessing.Normalizer(norm='l2')),
    ('clf', Perceptron()),
])

text_clf_percep.fit(X_train, y_train)

Pipeline(steps=[('vect',
                 TfidfVectorizer(max_features=10000, min_df=2,
                                 ngram_range=(1, 2),
                                 tokenizer=<function myHebrewTokenizer at 0x0000015703C963A0>)),
                ('norm', Normalizer()), ('clf', Perceptron())])

# After implementing several pipelines, the following code block calculates the f1 score for each model using 5 fold cross validation as well as the mean f1 score using the 'calcScore' function shown above.

In [394]:
calcScore(text_clf_lsvc,'LINEAR SUPPORT VECTOR MACHINE')
calcScore(text_clf_nb,'MULTINOMIAL NAIVE BAYES')
calcScore(text_clf_knn,'K NEAREST NEIGHBOURS')
calcScore(text_clf_dtc,'DECISION TREE')
calcScore(text_clf_percep,'PERCEPTRON')
calcScore(text_clf_SGD,'STOCHASTIC GRADIANT DESCENT')

--------------------------------------------------------------------------------------------------------------------
Cross-validation scores for LINEAR SUPPORT VECTOR MACHINE: [0.58967391 0.62755462 0.5389313  0.50961538 0.60637046]
Mean score for LINEAR SUPPORT VECTOR MACHINE: 0.5744291351013758
--------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------
Cross-validation scores for MULTINOMIAL NAIVE BAYES: [0.43233083 0.43233083 0.43233083 0.43396226 0.43396226]
Mean score for MULTINOMIAL NAIVE BAYES: 0.43298340190097884
--------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------
Cross-validation scores for K NEAREST NEIGHBOURS: [0.54711585 0.6799039  0.57887219 0.65802223 0.55115417]
Mean score for K NEAREST NEIGHBOURS: 0.6030136687383958
K NEAREST NEIGHBOURS HAS ACHIEVED A SUFFICIENT F1 SCORE
--------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------
Cross-validation scores for DECISION TREE: [0.64265512 0.63370032 0.61973443 0.51437451 0.59266188]
Mean score for DECISION TREE: 0.6006252531347925
DECISION TREE HAS ACHIEVED A SUFFICIENT F1 SCORE
--------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------
Cross-validation scores for PERCEPTRON: [0.7153092  0.70916795 0.67476923 0.65277778 0.63666121]
Mean score for PERCEPTRON: 0.6777370741945996
PERCEPTRON HAS ACHIEVED A SUFFICIENT F1 SCORE
--------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------
Cross-validation scores for STOCHASTIC GRADIANT DESCENT: [0.64529817 0.65153846 0.66104347 0.72899729 0.66771064]
Mean score for STOCHASTIC GRADIANT DESCENT: 0.6709176065335857
STOCHASTIC GRADIANT DESCENT HAS ACHIEVED A SUFFICIENT F1 SCORE
--------------------------------------------------------------------------------------------------------------------

### Out of the 6 models i've checked, it seems as though K nearest neighbours, decision tree, perceptron and stochastic gradient descent models have achieved a sufficiend f1 score of 0.6 or above.
### It seems as though the highest f1 score achieved was 0.677 by the perceptron model, lets apply said model to predict the writer's gender on our df_test table:

In [410]:
y_test = text_clf_percep.predict(df_test['story'])
df_predicted['predicted_gender'] = y_test

In [411]:
df_predicted['predicted_gender'].value_counts()

m    270
f     53
Name: predicted_gender, dtype: int64

### Now showing the first 5 predictions:

In [412]:
df_predicted.head(5)

   test_example_id predicted_gender
0                0                m
1                1                m
2                2                m
3                3                m
4                4                m

### Now showing the last 5 predictions:

In [413]:
df_predicted.tail(5)

     test_example_id predicted_gender
318              318                m
319              319                m
320              320                m
321              321                m
322              322                m

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [414]:
df_predicted.to_csv('classification_results.csv',index=False)